<section class="categories pt-3 pb-5 my-3">
    <div class="container text-center">
    <h1 class="cormorant-garamond-regular mb-5">Catalog</h1>
    <div class="row">
        <div class="col-6 col-md-3" style="margin-bottom: 20px;">
            <h5 class="cormorant-garamond-bold mb-4">Rings</h5>
            <img src="/media/images/category.jpg" alt="Rings" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-3" style="margin-bottom: 20px;">
            <img src="/media/images/category.jpg" alt="Necklace" class="img-fluid rounded">
            <h5 class="cormorant-garamond-bold mt-4">Necklace</h5>
        </div>
        <div class="col-6 col-md-3" style="margin-bottom: 20px;">
            <h5 class="cormorant-garamond-bold mb-4">Earrings</h5>
            <img src="/media/images/category.jpg" alt="Earrings" class="img-fluid rounded">
        </div>
        <div class="col-6 col-md-3" style="margin-bottom: 20px;">
            <img src="/media/images/category.jpg" alt="Bracelet" class="img-fluid rounded">
            <h5 class="cormorant-garamond-bold mt-4">Bracelet</h5>
        </div>
    </div>
    <a href="/categories" class="cormorant-garamond-bold d-inline-block text-decoration-none mt-3" style="font-size: 18px;">View All &rarr;</a>
</div>
</section>
